/* ================= Fonts ================= */



/* ================= Fonts ================= */
/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

/* ================= Base ================= */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

span{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

circle {
    fill: white;
}

input[type="search"] {
    background-color: transparent;
    border: none;
    color: white;
}

input[type="search"]:focus{
    outline: none;
    border: none;
}

input[type="search"]::placeholder {
    color: white;
}

/* ul{
    list-style: none;
}

a{
    text-decoration: none;
} */


/* ================= CSS Classes ================= */
.round-logo{
    width: 40px;
    height: 40px;
}

.nav__container{
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem;
    background-color: #18191aeb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-bottom: 1px solid grey;
}

.nav__left{
    display: flex;
    align-items: center;
    
    gap: 10px;
    flex-direction: row;
}


.search__container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #606770;
    border-radius: 20px;
    
    height: 40px;
    width: 230px;
}

.nav__search {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    color: white;
    font-size: 20px;
}

.glass{
    margin-right: 5px;
}


.nav__list{
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-item a{
    color: #385898;
}

.nav-item a:hover{
    color: grey;
}

.nav__nine{
    background-color: grey;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    margin-top: 4px;
}

.nine-dots{
    width: 20px;
    height: 20px;
    cursor: pointer;

    position: relative;
    top: 4px;
    left: 5px;
}


/* Nav Icon Hover Text */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey;

    font-size: 30px;
    color: grey;
}

.tooltip:active{
    color: #2374E1;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 70px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 130%;
    margin-left: -60px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.nav__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

/* =================Side Bar================= */
.navbar {
    background-color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.sidebar {
    background-color: #f0f2f5;
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    padding: 20px;
    margin-top: 77px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #f0f2f5;
    color: #1c1e21;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: #c8d0d8;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
    color: #65676b;
}

.separator {
    margin-top: 20px;
    border-top: 1px solid #dfe3e8;
}

.contacts {
    margin-top: 20px;
    margin-bottom: 80px;
}

.contacts h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contacts li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contacts li:last-child {
    margin-bottom: 0;
}

.contact-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-name p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.contact-name span {
    font-size: 12px;
    color: #65676b;
}

.message-btn {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.message-btn:hover {
    background-color: #0f62fe;
}